<!-- <div class="sign-in">
  <h1 matLine>MECOR</h1>
  <button mat-raised-button color="primary" type="button" (click)="logIn()">Sign in</button>
</div> -->

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" class="mat-elevation-z6">

      <mat-nav-list>
          <a mat-list-item routerLink="/">
              <h1 matLine>MECOR</h1>
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item routerLink="/">
              <mat-icon matListIcon class="icone-resumo">dashboard</mat-icon>
              <p matLine>Home</p>
          </a>

          <mat-divider></mat-divider>

          <h3 matSubheader class="md-no-sticky">Items management</h3>

          <a mat-list-item routerLink="/podcasts">
              <mat-icon matListIcon>mic</mat-icon>
              <p matLine>Podcasts</p>
          </a>

          <a mat-list-item routerLink="/games">
              <mat-icon matListIcon>videogame_asset</mat-icon>
              <p matLine>Games</p>
          </a>

          <a mat-list-item routerLink="/series">
              <mat-icon matListIcon>tv</mat-icon>
              <p matLine>Series</p>
          </a>

          <a mat-list-item routerLink="/movies">
              <mat-icon matListIcon>movie</mat-icon>
              <p matLine>Movies</p>
          </a>

          <a mat-list-item routerLink="/comics">
              <mat-icon matListIcon>comment</mat-icon>
              <p matLine>Comics</p>
          </a>

          <a mat-list-item routerLink="/books">
              <mat-icon matListIcon>book</mat-icon>
              <p matLine>Books</p>
          </a>

          <mat-divider></mat-divider>

          <mat-list-item>{{ 'user.email' }}</mat-list-item>

          <a mat-list-item (click)="logOut()">
              <mat-icon matListIcon>close</mat-icon>
              <p matLine>Sign out</p>
          </a>

      </mat-nav-list>

  </mat-sidenav>

  <div class="main">
      <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
