<button mat-button type="button" (click)="delete()" style="float: right" *ngIf="podcast.key">
  <mat-icon>delete</mat-icon>
  Delete this podcast
</button>

<form #formPodcast="ngForm" id="form-podcast" (submit)="save()">

  <button mat-raised-button type="button" routerLink="/podcasts">
    <mat-icon>arrow_back</mat-icon>
    Back to list
  </button>
  <button mat-raised-button color="primary" type="submit" form="form-podcast" [disabled]="!formPodcast.form.valid">
    <mat-icon>save</mat-icon>
    Save
  </button>

  <mat-card style="margin-top: 15px;">
    <mat-card-title>Podcast</mat-card-title>

    <mat-card-content *ngIf="podcast; else loading">

      <mat-form-field>
        <input matInput type="text" [(ngModel)]="podcast.name" name="name" placeholder="Name" required>
      </mat-form-field>


    </mat-card-content>
  </mat-card>

</form>

<mat-card style="margin-top: 20px">
  <mat-card-title>Feeds</mat-card-title>

  <mat-card-content>

    <mat-list>
      <div *ngFor="let feed of podcast.feeds">
        <mat-list-item>
          <button mat-icon-button type="button" (click)="removeFeed(feed)" matTooltip="Remove feed" style="float: right">
            <mat-icon>delete</mat-icon>
          </button>

          <h3 matLine>
            <label>URL:</label> {{ feed.url }}
          </h3>
          <h6 matLine>Series:</h6>
        </mat-list-item>

        <mat-list style="margin-left: 30px">
          <mat-list-item *ngFor="let serie of feed.series">
            <button mat-icon-button type="button" (click)="removeSerie(feed, serie)" matTooltip="Remove serie" style="float: right">
              <mat-icon>delete</mat-icon>
            </button>

            <h3 matLine>
              <label>Name:</label>
              {{serie.name}}
            </h3>

            <p matLine>
              <mat-chip-list>
                <label style="margin-right: 10px">Patterns:</label>

                <mat-chip *ngFor="let pattern of serie.patterns">
                  {{pattern}}
                  <mat-icon matTooltip="Remove pattern" (click)="removePattern(serie, pattern)" style="margin-left: 5px; cursor: pointer">delete</mat-icon>
                </mat-chip>

                <button mat-icon-button type="button" color="accent" matTooltip="Add pattern" (click)="addPattern(serie)">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-chip-list>
            </p>
          </mat-list-item>

          <mat-list-item>
            <form (submit)="addSerie(feed)" #formSerie="ngForm">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="serie.name" name="serie.name" placeholder="Name for new serie" required>
              </mat-form-field>
              <button mat-button color="accent" type="submit" [disabled]="!formSerie.form.valid">Add serie to feed</button>
            </form>
          </mat-list-item>

        </mat-list>
      </div>

      <mat-list-item>
        <form (submit)="addFeed()" #formFeed="ngForm">
          <mat-form-field>
            <input matInput type="url" [(ngModel)]="feed.url" name="feed.url" placeholder="URL for new feed" required>
          </mat-form-field>
          <button mat-button color="accent" type="submit" [disabled]="!formFeed.form.valid">Add feed to podcast</button>
        </form>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>


<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>